<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy proxy-target-class="true"/>
	<context:property-placeholder/>
	
    <bean id="master" class="org.apache.tomcat.jdbc.pool.DataSource">
        <property name="driverClassName" value="${JDBC.mysql.Driver}"></property>
        <property name="url" value="${JDBC.mysql.ConnectionURL_m}"></property>
        <property name="username" value="${JDBC.mysql.Username_m}"></property>
        <property name="password" value="${JDBC.mysql.Password_m}"></property>

        <!--公共配置属性-->
        <property name="jmxEnabled" value="${Tomcat.jdbc.pool.jmxEnabled}"></property>
        <property name="testWhileIdle" value="${Tomcat.jdbc.pool.testWhileIdle}"></property>
        <property name="testOnBorrow" value="${Tomcat.jdbc.pool.testOnBorrow}"></property>
        <property name="validationQuery"
                  value="${Tomcat.jdbc.pool.validationQuery.sqlserverOrmysql}"></property>
        <property name="testOnReturn" value="${Tomcat.jdbc.pool.testOnReturn}"></property>
        <property name="validationInterval"
                  value="${Tomcat.jdbc.pool.validationInterval}"></property>
        <property name="timeBetweenEvictionRunsMillis"
                  value="${Tomcat.jdbc.pool.timeBetweenEvictionRunsMillis}"></property>
        <property name="maxActive" value="${Tomcat.jdbc.pool.maxActive}"></property>
        <property name="initialSize" value="${Tomcat.jdbc.pool.initialSize}"></property>
        <property name="minIdle" value="${Tomcat.jdbc.pool.minIdle}"></property>
        <property name="maxWait" value="${Tomcat.jdbc.pool.maxWait}"></property>
        <property name="removeAbandoned" value="${Tomcat.jdbc.pool.removeAbandoned}"></property>
        <property name="removeAbandonedTimeout"
                  value="${Tomcat.jdbc.pool.removeAbandonedTimeout}"></property>
        <property name="logAbandoned" value="${Tomcat.jdbc.pool.logAbandoned}"></property>
        <property name="minEvictableIdleTimeMillis"
                  value="${Tomcat.jdbc.pool.minEvictableIdleTimeMillis}"></property>
        <property name="jdbcInterceptors" value="${Tomcat.jdbc.pool.jdbcInterceptors}"></property>
    </bean>


    <bean id="slave1" class="org.apache.tomcat.jdbc.pool.DataSource">

        <property name="driverClassName" value="${JDBC.mysql.Driver}"></property>
        <property name="url" value="${JDBC.mysql.ConnectionURL_s}"></property>
        <property name="username" value="${JDBC.mysql.Username_s}"></property>
        <property name="password" value="${JDBC.mysql.Password_s}"></property>

        <!--公共配置属性-->
        <property name="jmxEnabled" value="${Tomcat.jdbc.pool.jmxEnabled}"></property>
        <property name="testWhileIdle" value="${Tomcat.jdbc.pool.testWhileIdle}"></property>
        <property name="testOnBorrow" value="${Tomcat.jdbc.pool.testOnBorrow}"></property>
        <property name="validationQuery"
                  value="${Tomcat.jdbc.pool.validationQuery.sqlserverOrmysql}"></property>
        <property name="testOnReturn" value="${Tomcat.jdbc.pool.testOnReturn}"></property>
        <property name="validationInterval"
                  value="${Tomcat.jdbc.pool.validationInterval}"></property>
        <property name="timeBetweenEvictionRunsMillis"
                  value="${Tomcat.jdbc.pool.timeBetweenEvictionRunsMillis}"></property>
        <property name="maxActive" value="${Tomcat.jdbc.pool.maxActive}"></property>
        <property name="initialSize" value="${Tomcat.jdbc.pool.initialSize}"></property>
        <property name="minIdle" value="${Tomcat.jdbc.pool.minIdle}"></property>
        <property name="maxWait" value="${Tomcat.jdbc.pool.maxWait}"></property>
        <property name="removeAbandoned" value="${Tomcat.jdbc.pool.removeAbandoned}"></property>
        <property name="removeAbandonedTimeout"
                  value="${Tomcat.jdbc.pool.removeAbandonedTimeout}"></property>
        <property name="logAbandoned" value="${Tomcat.jdbc.pool.logAbandoned}"></property>
        <property name="minEvictableIdleTimeMillis"
                  value="${Tomcat.jdbc.pool.minEvictableIdleTimeMillis}"></property>
        <property name="jdbcInterceptors" value="${Tomcat.jdbc.pool.jdbcInterceptors}"></property>
    </bean>


    <bean id="slave2" class="org.apache.tomcat.jdbc.pool.DataSource">

        <property name="driverClassName" value="${JDBC.mysql.Driver}"></property>
        <property name="url" value="${JDBC.mysql.ConnectionURL_s2}"></property>
        <property name="username" value="${JDBC.mysql.Username_s2}"></property>
        <property name="password" value="${JDBC.mysql.Password_s2}"></property>

        <!--公共配置属性-->
        <property name="jmxEnabled" value="${Tomcat.jdbc.pool.jmxEnabled}"></property>
        <property name="testWhileIdle" value="${Tomcat.jdbc.pool.testWhileIdle}"></property>
        <property name="testOnBorrow" value="${Tomcat.jdbc.pool.testOnBorrow}"></property>
        <property name="validationQuery"
                  value="${Tomcat.jdbc.pool.validationQuery.sqlserverOrmysql}"></property>
        <property name="testOnReturn" value="${Tomcat.jdbc.pool.testOnReturn}"></property>
        <property name="validationInterval"
                  value="${Tomcat.jdbc.pool.validationInterval}"></property>
        <property name="timeBetweenEvictionRunsMillis"
                  value="${Tomcat.jdbc.pool.timeBetweenEvictionRunsMillis}"></property>
        <property name="maxActive" value="${Tomcat.jdbc.pool.maxActive}"></property>
        <property name="initialSize" value="${Tomcat.jdbc.pool.initialSize}"></property>
        <property name="minIdle" value="${Tomcat.jdbc.pool.minIdle}"></property>
        <property name="maxWait" value="${Tomcat.jdbc.pool.maxWait}"></property>
        <property name="removeAbandoned" value="${Tomcat.jdbc.pool.removeAbandoned}"></property>
        <property name="removeAbandonedTimeout"
                  value="${Tomcat.jdbc.pool.removeAbandonedTimeout}"></property>
        <property name="logAbandoned" value="${Tomcat.jdbc.pool.logAbandoned}"></property>
        <property name="minEvictableIdleTimeMillis"
                  value="${Tomcat.jdbc.pool.minEvictableIdleTimeMillis}"></property>
        <property name="jdbcInterceptors" value="${Tomcat.jdbc.pool.jdbcInterceptors}"></property>
    </bean>

    <bean id="dataSource" class="com.chinaredstar.perseus.db.DynamicDataSource">
        <property name="master" ref="master"/>
        <property name="slaves">
            <list>
                <ref bean="slave1"/>
                <ref bean="slave2"/>
            </list>
        </property>
    </bean>

    <!-- 定义单个jdbc数据源的事务管理器 -->
    <bean id="transactionManager"
          class="com.chinaredstar.perseus.db.DynamicDataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

	<context:annotation-config />
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:mappers/**/*.xml"/>
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
	</bean>
	
	<!-- 配置扫描器 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 扫描com.bdcluster.nams.dao这个包以及它的子包下的所有映射接口类 -->
		<property name="basePackage" value="com.yz.demo.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	<bean id="sqlSessionBatch" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
		<constructor-arg index="1" value="BATCH"/>
	</bean>
</beans>
