<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.tc.dao.TcRetryingMapper">
  <resultMap id="BaseResultMap" type="com.yz.tc.model.TcRetrying">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="error_code" jdbcType="VARCHAR" property="errorCode" />
  </resultMap>
</mapper>